{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@daybrush/babel-plugin-no-side-effect-class-properties",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-object-assign"
  ]
}